/* PC */
@media (min-width: 64.0625em) {}

/* PC and tablet */
@media (min-width: 46.25em) {
    .border {
        padding: 70px;
        border: 2px solid rgb(33, 202, 33);
        border-radius: 5%;
    }

    .border-2 {
        padding: 70px;
        border: 2px solid #fff;
        border-radius: 5%;
    }
}

/* mobile and tablet */
@media (max-width: 64em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-form .contact-submit-btn {
        font-size: 32px !important;
    }

    #footer .socials-list {
        font-size: 32px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (max-width: 64em) and (min-width: 46.25em) {}

/* mobile */
@media (max-width: 46.1875em) {

    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav>li {
        display: block;
    }

    #nav>li:first-child {
        display: inline-block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav li {
        width: 100%;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav .subnav li:hover a {
        color: #000;
    }

    #content .members-list img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }
}