* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px;
}

.text-center {
    text-align: center !important;
}

.btn {
    color: #fff;
    background-color: #0da000a9;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    color: #fff;
    background-color: #0d0;
}

.pull-right {
    float: right !important;
}


/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #cf1818;
    z-index: 1;
}

#nav {
    display: flex;
    border-radius: 0 20% 0 0;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
    position: relative;
    border-right: 1px solid #ccc;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    font-size: 14px;
    text-decoration: none;
    padding: 0 16px;
    line-height: 46px;
    display: block;
}

#nav>li:first-child a {
    font-size: 12px;
    background-color: #059100;
}

#nav>li:first-child:hover a {
    background-color: rgb(33, 202, 33);
}

#nav>li:last-child {
    border: none;
}

#nav .icon-angle-down {
    font-size: 14;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a {
    background-color: #f00;
}

.subnav li:hover a {
    background-color: rgb(22, 189, 255);
}

#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.subnav>li {
    display: inline-block;
    width: 180px;
    background-color: skyblue;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: rgb(22, 189, 255);
}

#header .mobile-menu-btn {
    top: 0;
    right: 0;
    padding: 0 21px;
    display: none;
    position: absolute;
}

#header .mobile-menu-btn:hover {
    background-color: rgb(33, 202, 33);
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/Slider/mungchuagiangsinh-Ga-1-14.jpeg') top center / cover no-repeat;
    border-radius: 0 0 5% 5%;
}

#slider .text-content {
    position: absolute;
    bottom: 40px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 18px;
    margin-top: 16px;
    margin-left: 20px;
    text-shadow: 0 0 4px #000;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px;
}

#content .section-heading {
    text-align: center;
    color: #f00;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    font-style: italic;
    opacity: .6;
}

#content .about-text {
    font-size: 14.7px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-avt {
    margin-top: 15px;
    width: 154px;
    border-radius: 5%;
}

/* tour section */

.tour-section {
    background-color: rgb(139, 21, 21);
}

.tickets-list {
    background-color: #cf1818;
    margin-top: 40px;
    list-style: none;
}

.tickets-list li {
    color: #fff;
    font-size: 15px;
    padding: 11px 16px;
    border: 1px solid #fff;
}

.tickets-list .sold-out {
    background-color: rgb(33, 202, 33);
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: rgb(33, 202, 33);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* .place */

.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
    border-radius: 2% 2% 0 0;
}

.place-body {
    min-height: 180px;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    border-radius: 0 0 7px 7px;
}

.place-heading {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.place-time {
    margin: 20px 0;
    color: #757575;
}

.place-desc {
    font-size: 15px;
    line-height: 1.4;
}

.bg-green {
    background-color: rgb(33, 202, 33);
}

.bg-pink {
    background-color: violet;
}

/* Modal by-tickets*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: rgb(33, 150, 33);
    border-radius: 15px;
    width: 600px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease .4s;
}

.modal-close {
    position: absolute;
    right: 0;
    color: #fff;
    padding: 24px;
    background-color: #cf1818;
    cursor: pointer;
    opacity: .8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
    min-height: 320px;
    text-align: center;
}

.modal-check {
    display: inline-block;
    font-size: 48px;
    font-weight: 1000;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 20px;
    margin-top: 50px;
}

.modal-report {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
}

@keyframes modalFadeIn {
    from {
        opacity: .7;
        transform: translateY(-140px);
    }

    to {
        transform: translateY(0px);
    }
}

.map-section {
    width: 700px;
    width: 90%;
    margin: 60px auto;
    color: #cf1818 !important;
}

#content .map-section .content-section {
    padding-bottom: 48px;
    /* background-color: skyblue; */
    border-radius: 10px;
    width: 100%;
}

#content .map-section .section-heading {
    font-size: 21.6px;
}

#content .map-section .section-sub-heading {
    font-size: 16.1px;
}

.map-section img {
    border-radius: 2%;
    background-size: contain;
    width: 100%;
    padding: 0px 0px;
    margin: 30px 0;
}

.map-section img:last-child {
    margin-bottom: 0;
}

/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.pray {
    font-size: 15.5px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.contact-submit-btn {
    background-color: skyblue;
}

.contact-submit-btn:hover {
    background-color: rgb(22, 189, 255);
    cursor: pointer;
}

/* footer */
#footer {
    margin: 64px 16px;
    margin-top: 20px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: #c24e4e;
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: #f00;
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    color: rgb(22, 189, 255);
}

.header-icon {
    border-radius: 50%;
}

.snowflake {
    color: #e2f4ff;
    text-shadow: 1px 0 2px skyblue;
    }
    @-webkit-keyframes snowflakes-fall {
    0% {
    top: -10%;
    }
    100% {
    top: 100%;
    }
    }
    @-webkit-keyframes snowflakes-shake {
    0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
    50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    }
    100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
    }
    @keyframes snowflakes-fall {
    0% {
    top: -10%;
    }
    100% {
    top: 100%;
    }
    }
    @keyframes snowflakes-shake {
    0% {
    transform: translateX(0px);
    }
    50% {
    transform: translateX(80px);
    }
    100% {
    transform: translateX(0px);
    }
    }
    .snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: 3, infinite;
    animation-play-state: running, running;
    }
    .snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
    }
    .snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
    }
    .snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
    }
    .snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
    }
    .snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
    }
    .snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
    }
    .snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
    }
    .snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
    }
    .snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
    }
    .snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
    }